body {
    font-family: Arial, sans-serif;
    margin: 15px;
}

form {
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 15px 0 7px;
}

input {
    padding: 7px;
    width: 185px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}